$body-bg: #fff;
$body-bg-dark: #1b1f22;
$theme-colors: (
  "primary": #3DA69F,
  "secondary": #aeb2b6,
  "success": #54C58F,
  "info": #6951CA,
  "warning": #EAB222,
  "danger": #CA51A8,
  "dark": #1E3E50,
  "light": #CFD8DC,
  "body-bg": #fff,
  // Bootstrap extended colors
  "gray": #356570,
  "grey": #356570,
  "blue": $blue,
  "indigo":$indigo,
  "purple":$purple,
  "pink":$pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green":$green,
  "teal": $teal,
  "cyan":$cyan,
  // Custom colors
  "codeworks": #141d2b,
  "vue": #42b883,
  "white": #EDF2F4
);